@charset "UTF-8";

.container {
	padding-top: 65px;
	margin-bottom: 50px;
}



.font-weight-bold {font-weight: bold;}

/* color */
.font-green {color: #2cb870;}
.font-blue {color: #2c5fb8;}
.font-purple {color: #c83ae8;}