@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }




#searchbar{
	width:100%;
	height:400px;
	margin-top : 120px;
	background-image : url("../img/searchBar.jpg");
}

#searchbar > div{
	text-align: center;
	padding-top : 190px;
	
	
}

input:focus{
	outline:none;
}

.SearchInput{
	/* width: 500px;
	height: 40px; */
	width:600px;
	padding:10px;
	border-radius: 25px 0 0 25px;
	border-style : solid;
	border-width : 2px;
	border-color : #FABE00;
	font-size: 15px;
	
} 

.SearchSubmit{
	background-color:#FABE00;
	border-style : solid;
	border-width : 2px;
	border-color : #FABE00;
	border-radius: 0 25px 25px 0;
	width:120px;
	padding:10px;
	color: white;
	font-size:15px;
	margin-left: -3px;
	
}

.title1{
	display: block;
}

.Commu{
	
	padding-top:50px;
	
}

.title1 > a{
	float: right;
	font-size: 15px;
	padding: 10px;
}

.title1 > a:link, a:visited{
	color: gray;
}

.title1 > a:hover{
	color: gray;
}
 
.title1 > h3{
	font-size: 15px;
	float: left;
	padding-left: 10px;
}


.title2{
	float:left;
	display:inline;
	width: 50%;
	padding-left: 10px;
}

.title2 > h3 > a:link, a:visited{
	color: gray;
}

.title2 > h3 > a:hover{
	color: gray;
	text-decoration: none;
}

.writer{
	float:right;
	display:inline;
	width: 50%;
	padding-right: 10px;
}


.title2 > h3{
	
	text-align:left;
	font-size: 15px;
}

.writer  > h3{
	
	font-size: 15px;
	text-align:right;
}

body {
	background: white;
	color: #FABE00;
	font-size: 100%;
	line-height: 1.25;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

a {
	color: #FF2A48;
	text-decoration: none;
	outline: none;
}

a:hover, a:focus {
	color: #2E3444;
}

.codrops-header {
	
	margin: 0 auto;
	text-align: center;
}

.codrops-header h1 {
	margin: 0;
	font-size: 2.5em;
	font-weight: 900;
}

.codrops-header h1 span {
	display: block;
	padding: 0.2em 0 0.6em 0.1em;
	font-size: 0.6em;
	font-weight: 300;
}

/* Demo links */
.codrops-demos {
	padding-top: 50px;
}

.codrops-demos a {
	text-transform: uppercase;
	letter-spacing: 1px;
	margin: 15px;
	padding: 5px 2px;
	font-weight: 900;
}

.codrops-demos a.current-demo {
	color: #2E3444;
}

/* To Navigation Style */
.codrops-top {
	width: 100%;
	text-transform: uppercase;
	font-weight: 800;
	font-style: normal;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	display: inline-block;
	padding: 0 1em;
	text-decoration: none;
	letter-spacing: 1px;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	display: block;
	float: left;
}

.codrops-icon:before {
	margin: 0 4px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

section {
	padding: 1em;
	text-align: center;
}

.related {
	padding: 15em 0 3em;
	clear: both;
}

.related p {
	font-size: 1.5em;
}

.related > a {
	border: 1px solid #FABE00;
	display: inline-block;
	text-align: center;
	margin: 20px 10px;
	padding: 25px;
	color: #231815;
}

.related a:hover {
	border-color: #FF2A48;
	color: #FF2A48;
}

.related a img {
	max-width: 100%;
	opacity: 0.8;
}

.related a:hover img,
.related a:active img {
	opacity: 1;
}

.related a h3 {
	margin: 0;
	padding: 0.5em 0 0.3em;
	max-width: 300px;
	text-align: left;
}


/* slide */

#slider{
	list-style: none;
	margin: 0;
    padding: 0;
}

#slider li{
	list-style: none;
	
	
}

#recommend{
	float: left;
	padding-top: 20px;
	padding-left: 30px;
	
}

.recoImg{
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 300px;
}

 #infomation{
 	float:left;
 	padding-left: 15px;
 	padding-top: 100px;
	
} 


#slider-wrap {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
}

#slider-wrap ul#slider {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#slider-wrap ul#slider li {
    float: left;
    position: relative;
    width: 600px;
    height: 400px;
}

#kinds {
    float:left;
    top: 20px;
    left: 35px;
}   

#slider-wrap ul#slider li>div h3 {
    font-size: 30px;
    text-transform: uppercase;
}

#slider-wrap ul#slider li>div span {
    font-size: 21px;
}

/* #slider-wrap ul#slider li img {
    display: inline-block;
    
} */

/*btns*/
.slider-btns {
    position: absolute;
    width: 50px;
    height: 60px;
    top: 50%;
    margin-top: -25px;
    line-height: 57px;
    text-align: center;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    z-index: 100;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -webkit-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}

.slider-btns:hover {
    background: rgba(0, 0, 0, 0.3);
}

#next {
    right: -50px;
    border-radius: 7px 0px 0px 7px;
    color: #eee;
}

#previous {
    left: -50px;
    border-radius: 0px 7px 7px 7px;
    color: #eee;
}

#slider-wrap.active #next {
    right: 0px;
}

#slider-wrap.active #previous {
    left: 0px;
}

/*bar*/
#slider-pagination-wrap {
    min-width: 20px;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    height: 15px;
    position: relative;
    text-align: center;
}

#slider-pagination-wrap ul {
    width: 100%;
}

#slider-pagination-wrap ul li {
    margin: 0 4px;
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #fff;
    opacity: 0.5;
    position: relative;
    top: 0;
}

#slider-pagination-wrap ul li.active {
    width: 12px;
    height: 12px;
    top: 3px;
    opacity: 1;
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 0px;
}

/*ANIMATION*/
#slider-wrap ul,
#slider-pagination-wrap ul li {
    -webkit-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    -o-transition: all 0.3s cubic-bezier(1, .01, .32, 1);
    transition: all 0.3s cubic-bezier(1, .01, .32, 1);
}


/* slide finish */

@media screen and (max-width: 25em) {

	.codrops-icon span {
		display: none;
	}

}


