@charset "UTF-8";

.title-text {
	margin-bottom: 20px;
}

.container {
	font-size: 13px;
}

a {
	color: black;
}


.pagination>li>a, .pagination>li>span {
	color: black;
}

.bottom-left {
	float: left;
}

.search-text {
	border-radius: 4px 0 0 4px;
}

.search-btn {
	margin-left: -5px;
	border-radius: 0 4px 4px 0;
}

.bottom-right {
	float: right;
}