@charset "UTF-8";

.title-text {
	margin-bottom: 20px;
}

.container {
	font-size: 13px;
}

a {
	color: black;
}


.pagination>li>a, .pagination>li>span {
	color: black;
}

.bottom-right {
	float: right;
}