.container {
	font-size: 13px;
}

.article-wrap {
	margin-bottom: 10px;
}

.title-area {
	border-bottom: 1px solid gray;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.title-category {
	font-size: 1.5em;
}

.title-text {
	margin-top: 10px;
	font-size: 3em;
}

.title-top {
	font-weight: bold;
	margin-bottom: 5px;
}


.article-bottom {
	overflow: hidden;
	margin-top: 20px;
}

.bottom-left {
	float: left;
}

.bottom-right {
	float: right;
}

.accept-btn {
	padding-top: 10px;
}


/* 댓글 */
.comment-area {
	margin-top: 80px;
	padding-top: 10px;
}

#comment-info {
	border-bottom: 1px solid gray;
	padding-bottom: 5px;
	margin-bottom: 5px;
}

#comment-info strong {
	font-size: 18px;
}

.comment-box {
	border-bottom: 1px solid lightgray;
	padding: 10px;
}



.comment-box:last-child {
	border: none;
}

.list-writer {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}

.pagination>li>a, .pagination>li>span {
	color: black;
}

.page-link {
	cursor: pointer;
}

.list-btn-area {
	margin-top: 5px;
	text-align: right;
}

.list-btn-area > button {
	background-color: transparent;
	border: none;
	color: gray;
}


.comment-write {
	margin-top: 25px;
	border: 2px solid #bfbfbf;
	border-radius: 5px;
	padding: 20px 20px 10px 20px;
}

.comment-writebox {
	overflow: hidden;
	width: 100%;
	border: none;
	padding: 0;
	resize: none;
}

.comment-bottom {
	overflow: hidden;
}

.comment-writer {
	font-weight: bold;
	font-size: 15px;
}

.comment-writebox:focus {
	outline: none;
}

.comment-writebox:focus::placeholder {
	color: #e6e6e6;
}

.comment-write-btn {
	background-color: transparent;
	border: none;
	color: gray;
	font-size: 14px;
}

.comment-write-btn:hover {
	color: gray;
	text-decoration: none;
}