<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<typeAliases>
	
		<typeAlias type="com.iu.s5.member.MemberDTO" alias="MemberDTO"/>
		
		<typeAlias type="com.iu.s5.board.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.iu.s5.board.community.CommunityDTO" alias="CommunityDTO"/>
		<typeAlias type="com.iu.s5.board.request.RequestDTO" alias="RequestDTO"/>
	
		
		<typeAlias type="com.iu.s5.util.Pager" alias="Pager"/>
	
  		<typeAlias type="java.lang.Long" alias="Long"/>
  		<typeAlias type="java.util.List" alias="List"/>
  		<typeAlias type="java.util.Map" alias="Map"/>
	
	</typeAliases>
</configuration>