<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
 <mapper namespace="com.iu.s5.board.community.CommunityDAO">
 
 	<insert id="setComment" parameterType="CommentsDTO">
 		INSERT INTO COMMENTS 
		VALUES (comments_seq.nextval, #{num}, #{id}, #{writer}, #{contents}, sysdate, #{board})
 	</insert>
 	
 	<select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
 		SELECT * FROM
		(SELECT rowNum R, CM.* FROM
		    (SELECT * FROM COMMENTS
		        WHERE BOARD = #{comments.board} AND NUM = #{comments.num}
		        ORDER BY commentNum DESC) CM)
		WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
 	</select>
 	
 	<delete id="setCommentDelete" parameterType="CommentsDTO">
 		DELETE COMMENTS WHERE commentNum = #{commentNum}
 	</delete>
 	
 	<update id="setCommentUpdate" parameterType="CommentsDTO">
 		UPDATE COMMENTS SET contents = #{contents} WHERE commentNum = #{commentNum} 		
 	</update>
 	
 	<select id="getCommentCount" parameterType="CommentsDTO" resultType="Long">
 		SELECT COUNT(commentNum) FROM COMMENTS
 		WHERE board = #{board} AND num = #{num}
 	</select>
 
 
 	<select id="getFile" parameterType="BoardDTO" resultType="BoardFileDTO">
 		SELECT * FROM COMMUNITYFILES WHERE NUM = #{num}
 	</select>
 
 	 <delete id="setFileDelete" parameterType="BoardFileDTO">
 	 	DELETE COMMUNITYFILES WHERE FILENUM = #{fileNum}
 	 </delete>
 
 	<insert id="setFile" parameterType="BoardFileDTO">
 		INSERT INTO COMMUNITYFILES
 		VALUES (FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
 	</insert>
 
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(NUM) 
 		FROM COMMUNITY
 		WHERE
		<choose>
			<when test="kind == 'writer'"> WRITER </when>
			<otherwise> TITLE </otherwise>
		</choose>
		LIKE '%' || #{search} || '%'
 	</select>
 
 	<update id="setHitsUpdate" parameterType="BoardDTO">
 		UPDATE COMMUNITY SET HITS = HITS+1 WHERE NUM = #{num}
 	</update>
 	
 	<resultMap type="CommunityDTO" id="getSelectResult">
 		<id column="num" property="num" />
		<result column="id" property="id" />
		<result column="writer" property="writer" />
 		<result column="title" property="title" />
		<result column="contents" property="contents" />
		<result column="regDate" property="regDate" />
		<result column="hits" property="hits" />
		<result column="category" property="category" />
		
		<collection property="boardFiles" javaType="List" ofType="BoardFileDTO">
			<id column="fileNum" property="fileNum" />
			<result column="num" property="num" />
			<result column="fileName" property="fileName" />
			<result column="oriName" property="oriName" />
		</collection>
 	</resultMap>
 
 	<select id="getSelect" resultType="CommunityDTO" parameterType="BoardDTO" resultMap="getSelectResult">
 		SELECT * 
 		FROM COMMUNITY A
 		LEFT OUTER JOIN COMMUNITYFILES B
 		USING (NUM)
 		WHERE NUM = #{num}
 	</select>
 
 	<select id="getList" resultType="CommunityDTO" parameterType="Pager">
 		SELECT * 
		FROM (SELECT ROWNUM RN, C.* 
			FROM (SELECT * FROM COMMUNITY
				WHERE
				<choose>
					<when test="kind == 'writer'"> WRITER </when>
					<otherwise> TITLE </otherwise>
				</choose>
				LIKE '%' || #{search} || '%'
				ORDER BY NUM DESC
			) C)
		WHERE RN BETWEEN #{startRow} AND #{lastRow}
 	</select>
 
 	<delete id="setDelete" parameterType="BoardDTO">
 		DELETE FROM COMMUNITY WHERE NUM = #{num}
 	</delete>
 
 
 	<insert id="setInsert" parameterType="CommunityDTO">
 		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
 			SELECT COMMUNITY_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO COMMUNITY (NUM, ID, WRITER, TITLE, CONTENTS, REGDATE, HITS, CATEGORY)
		VALUES (#{num}, #{id}, #{writer}, #{title}, #{contents}, CURRENT_DATE, 0, #{category})
 	</insert>
 
 </mapper>