<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.iu.s5.member.MemberDAO">

	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT id FROM member WHERE id=#{id}
	</select>
	
	<insert id="setJoin" parameterType="MemberDTO">
		INSERT INTO member (id, pw, name, phone, email) 
		VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert> 	
  	
</mapper>