<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
<mapper namespace="com.iu.s5.member.MemberDAO">

	<select id="getIdCheck" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT id FROM member WHERE id=#{id}
	</select>
	
	<insert id="setJoin" parameterType="MemberDTO">
		INSERT INTO member (id, pw, name, phone, email) 
		VALUES (#{id}, #{pw}, #{name}, #{phone}, #{email})
	</insert>
	
	<select id="getLogin" parameterType="MemberDTO" resultType="MemberDTO">
		SELECT * FROM member WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<delete id="setDelete" parameterType="MemberDTO">
		DELETE member WHERE id=#{id} AND pw=#{pw}
	</delete>
	
	<update id="setUpdate" parameterType="MemberDTO">
		UPDATE member SET pw=#{pw}, phone=#{phone}, email=#{email} WHERE id=#{id}
	</update>
	
	<insert id="setFileInsert" parameterType="MemberFilesDTO">
		INSERT INTO memberFiles (num, id, fileName, oriName)
		VALUES (files_seq.nextval, #{id}, #{fileName}, #{oriName})
	</insert>
	
	<select id="getFile" parameterType="MemberDTO" resultType="MemberFilesDTO">
		SELECT * FROM memberFiles WHERE id=#{id}
	</select>
  	
</mapper>