<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  
 <mapper namespace="com.iu.s5.board.request.RequestDAO">
 	
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(num) FROM REQUEST
 	</select>
 	
 	<select id="getList" resultType="RequestDTO" parameterType="Pager">
 		SELECT * FROM
		(SELECT ROWNUM R ,RQ.* FROM 
			(SELECT * FROM REQUEST
			ORDER BY NUM DESC) RQ)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultType="RequestDTO">
 		SELECT * FROM REQUEST
 		WHERE NUM = #{num}
 	</select>
 	
 	<update id="setHitsUpdate" parameterType="BoardDTO">
 		UPDATE REQUEST SET hits = hits+1 WHERE NUM = #{num}
 	</update>
 	
 	<update id="setAcceptUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET requestAccept = ${requestAccpet} WHERE NUM = #{num}
 	</update>
 	
 	<insert id="setInsert" parameterType="RequestDTO">
 		insert into request 
		values (request_seq.nextval, #{id}, #{writer}, #{title}, #{contents}, sysdate, 0, 
		#{restName}, #{restLocation}, #{restPhone}, #{restCategory}, #{restTime}, #{holiday}, 'N')
 	</insert>
 	
 	<delete id="setDelete" parameterType="BoardDTO">
 		DELETE FROM REQUEST WHERE NUM = #{num}
 	</delete>
 	
 	<update id="setUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET
	 		title=#{title},
	 		contents = #{contents},
	 		restName = #{restName},
	 		restLocation = #{restLocation},
	 		restPhone = #{restPhone},
	 		restCategory = #{restCategory},
	 		restTime = #{restTime},
	 		holiday = #{holiday},
	 		requestAccept = #{requestAccept}
 		WHERE NUM = #{num}
 	</update>
 	
 	
 	
 </mapper>