<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  
 <mapper namespace="com.iu.s5.board.request.RequestDAO">
 	
 	<insert id="setComment" parameterType="CommentsDTO">
 		INSERT INTO COMMENTS 
		VALUES (comments_seq.nextval, #{num}, #{id}, #{writer}, #{contents}, sysdate, #{board})
 	</insert>
 	
 	<select id="getCommentList" parameterType="Map" resultType="CommentsDTO">
 		SELECT * FROM
			(SELECT rowNum R, CM.* FROM
			    (SELECT * FROM COMMENTS
			        WHERE BOARD = #{comment.board} AND NUM = #{comments.num}
			        ORDER BY commentNum DESC) CM)
		WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
 	</select>
 	
 	<delete id="setCommentDelete" parameterType="CommentsDTO">
 		DELETE COMMENTS WHERE commentNum = #{commentNum}
 	</delete>
 	
 	<update id="setCommentUpdate" parameterType="CommentsDTO">
 		UPDATE COMMENTS SET contents = #{contents} WHERE commentNum = #{commentNum} 		
 	</update>
 	
 	<select id="getCommentCount" parameterType="CommentsDTO">
 		SELECT COUNT(commentNum) FROM COMMENTS
 		WHERE board = #{board} AND num = #{num}
 	</select>
 	
 	<delete id="setFileDelete" parameterType="BoardFileDTO">
 		DELETE REQUESTFILES WHERE fileNum = #{fileNum}
 	</delete>
 	
 	<select id="getFile" parameterType="BoardDTO" resultType="BoardFileDTO">
 		SELECT * FROM REQUESTFILES WHERE num = #{num}
 	</select>
 	
 	<insert id="setFile" parameterType="BoardFileDTO">
 		INSERT INTO REQUESTFILES
 		VALUES(FILE_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
 	
 	</insert>
 	
 	
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(num) FROM REQUEST
 		
 		<if test="kind == 'title'">WHERE title LIKE '%' || #{search} || '%'</if>
 		<if test="kind == 'writer'">WHERE writer LIKE '%' || #{search} || '%'</if>
 		
 	</select>
 	
 	<select id="getList" resultType="RequestDTO" parameterType="Pager">
 		SELECT * 
 		FROM (SELECT ROWNUM R ,RQ.* 
 			FROM (SELECT * FROM REQUEST
					WHERE
					<choose>
						<when test="kind=='writer'">
							writer
						</when>
						<otherwise>
							title
						</otherwise>
					</choose>
				LIKE '%' || #{search} || '%'
				ORDER BY NUM DESC
			) RQ)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<resultMap type="RequestDTO" id="getSelectResult">
 		<id column="num" property="num"/>
 		<result column="id" property="id"/>
 		<result column="writer" property="writer"/>
 		<result column="title" property="title"/>
 		<result column="contents" property="contents"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hits" property="hits"/>
 		<result column="restName" property="restName"/>
 		<result column="restPostcode" property="restPostcode"/>
 		<result column="restAddress" property="restAddress"/>
 		<result column="restAddressDt" property="restAddressDt"/>
 		<result column="restAdressRf" property="restAddressRf"/>
 		<result column="restPhone" property="restPhone"/>
 		<result column="restCategory" property="restCategory"/>
 		<result column="restTime" property="restTime"/>
 		<result column="holiday" property="holiday"/>
 		<result column="requestAccept" property="requestAccept"/>
 		<!-- Files -->
 		<collection property="files" javaType="List" ofType="BoardFileDTO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="num" property="num"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
 		SELECT *
		FROM REQUEST R
		LEFT JOIN 
		REQUESTFILES RF
		USING (NUM)
 		WHERE NUM = #{num}
 	</select>
 	
 	<update id="setHitsUpdate" parameterType="BoardDTO">
 		UPDATE REQUEST SET hits = hits+1 WHERE NUM = #{num}
 	</update>
 	
 	<update id="setAcceptUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET requestAccept = #{requestAccept} WHERE NUM = #{num}
 	</update>
 	
 	<insert id="setInsert" parameterType="RequestDTO">
 		<selectKey order="BEFORE" resultType="Long" keyProperty="num">
 			SELECT REQUEST_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 	
 		insert into request 
		values (#{num}, #{id}, #{writer}, #{title}, #{contents}, sysdate, 0, 
		#{restName}, #{restPostcode}, #{restAddress}, #{restAddressDt}, #{restAddressRf}, #{restPhone}, #{restCategory}, #{restTime}, #{holiday}, 'N')
 	</insert>
 	
 	<delete id="setDelete" parameterType="BoardDTO">
 		DELETE FROM REQUEST WHERE NUM = #{num}
 	</delete>
 	
 	<update id="setUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET
	 		title=#{title},
	 		contents = #{contents},
	 		restName = #{restName},
	 		restPostcode = #{restPostcode},
	 		restAddress = #{restAddress},
	 		restAddressDt = #{restAddressDt},
	 		restAddressRf = #{restAddressRf},
	 		restPhone = #{restPhone},
	 		restCategory = #{restCategory},
	 		restTime = #{restTime},
	 		holiday = #{holiday},
	 		requestAccept = #{requestAccept}
 		WHERE NUM = #{num}
 	</update>
 	
 	
 	
 </mapper>