<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  	
  
 <mapper namespace="com.iu.s5.board.request.RequestDAO">
 	
 	
 	
 	<delete id="setFileDelete" parameterType="BoardFilesDTO">
 		DELETE REQUESTFILES WHERE fileNum = #{fileNum}
 	</delete>
 	
 	<select id="getFile" parameterType="BoardDTO" resultType="BoardFilesDTO">
 		SELECT * FROM REQUESTFILES WHERE num = #{num}
 	</select>
 	
 	<insert id="setFile" parameterType="BoardFilesDTO">
 		INSERT INTO REQUESTFILES
 		VALUES(FILES_SEQ.NEXTVAL, #{num}, #{fileName}, #{oriName})
 	
 	</insert>
 	
 	
 	<select id="getCount" resultType="Long" parameterType="Pager">
 		SELECT COUNT(num) FROM REQUEST
 		
 		<if test="kind == 'title'">WHERE title LIKE '%' || #{search} || '%'</if>
 		<if test="kind == 'writer'">WHERE writer LIKE '%' || #{search} || '%'</if>
 		
 	</select>
 	
 	<select id="getList" resultType="RequestDTO" parameterType="Pager">
 		SELECT * 
 		FROM (SELECT ROWNUM R ,RQ.* 
 			FROM (SELECT * FROM REQUEST
					WHERE
					<choose>
						<when test="kind=='writer'">
							writer
						</when>
						<otherwise>
							title
						</otherwise>
					</choose>
				LIKE '%' || #{search} || '%'
				ORDER BY NUM DESC
			) RQ)
		WHERE R BETWEEN #{startRow} AND #{lastRow}
 	</select>
 	
 	<resultMap type="RequestDTO" id="getSelectResult">
 		<id column="num" property="num"/>
 		<result column="id" property="id"/>
 		<result column="writer" property="writer"/>
 		<result column="title" property="title"/>
 		<result column="contents" property="contents"/>
 		<result column="regDate" property="regDate"/>
 		<result column="hits" property="hits"/>
 		<result column="restName" property="restName"/>
 		<result column="restLoaction" property="restLocation"/>
 		<result column="restPhone" property="restPhone"/>
 		<result column="restCategory" property="restCategory"/>
 		<result column="restTime" property="restTime"/>
 		<result column="holiday" property="holiday"/>
 		<result column="requestAccept" property="requestAccept"/>
 		<!-- Files -->
 		<collection property="files" javaType="List" ofType="BoardFilesDTO">
 			<id column="fileNum" property="fileNum"/>
 			<result column="num" property="num"/>
 			<result column="fileName" property="fileName"/>
 			<result column="oriName" property="oriName"/>
 		</collection>
 	</resultMap>
 	
 	<select id="getSelect" parameterType="BoardDTO" resultMap="getSelectResult">
 		SELECT * FROM REQUEST
 		WHERE NUM = #{num}
 	</select>
 	
 	<update id="setHitsUpdate" parameterType="BoardDTO">
 		UPDATE REQUEST SET hits = hits+1 WHERE NUM = #{num}
 	</update>
 	
 	<update id="setAcceptUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET requestAccept = #{requestAccept} WHERE NUM = #{num}
 	</update>
 	
 	<insert id="setInsert" parameterType="RequestDTO">
 		insert into request 
		values (request_seq.nextval, #{id}, #{writer}, #{title}, #{contents}, sysdate, 0, 
		#{restName}, #{restLocation}, #{restPhone}, #{restCategory}, #{restTime}, #{holiday}, 'N')
 	</insert>
 	
 	<delete id="setDelete" parameterType="BoardDTO">
 		DELETE FROM REQUEST WHERE NUM = #{num}
 	</delete>
 	
 	<update id="setUpdate" parameterType="RequestDTO">
 		UPDATE REQUEST SET
	 		title=#{title},
	 		contents = #{contents},
	 		restName = #{restName},
	 		restLocation = #{restLocation},
	 		restPhone = #{restPhone},
	 		restCategory = #{restCategory},
	 		restTime = #{restTime},
	 		holiday = #{holiday},
	 		requestAccept = #{requestAccept}
 		WHERE NUM = #{num}
 	</update>
 	
 	
 	
 </mapper>