<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
 <mapper namespace="com.iu.s5.restaurant.RestaurantsDAO">
 
 
 
 
 	
 	
 	
 	
 
 	<resultMap type="com.iu.s5.restaurant.RestaurantsDTO" id="getRestaurantsResult">
  		<id column="restNum" property="restNum"/>
  		<result column="restName" property="restName"/>
  		<result column="restLocation" property="restLocation"/>
  		<result column="phone" property="phone"/>
  		<result column="restCategory" property="restCategory"/>
  		<result column="restTime" property="restTime"/>
  		<result column="holiDay" property="holiDay"/>
  		<result column="hits" property="hits"/>
  		<result column="likes" property="likes"/>
  		<result column="starVal" property="starVal"/>
  		<result column="lat" property="lat"/>
  		<result column="logt" property="logt"/>
  		<result column="openFlag" property="openFlag"/>
  		
  		<collection property="files" javaType="List" ofType="com.iu.s5.restaurant.RestaurantsFilesDTO">
  			<id column="restFileNum" property="restFileNum"/>
  			<result column="restNum" property="restNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	
  		<collection property="categorysDTOs" javaType="List" ofType="com.iu.s5.restaurant.RestCategorysDTO">
  			<id column="categoryNum" property="categoryNum"/>
  			<result column="categoryName" property="categoryName"/>
  		</collection>
  		
  		
  		
  	</resultMap> 



 	<!-- 별점이 높은 순으로 정렬 후 select  -->
 	<select id="getRestaurants" resultMap="getRestaurantsResult">
 		SELECT *
		FROM
		(SELECT ROW_NUMBER() over(PARTITION BY TE.R ORDER BY TE.RESTFILENUM) AS RNUM ,TE.*
		FROM
		(SELECT RSS.*,RF.RESTFILENUM,RF.FILENAME,RF.ORINAME,RGS.* FROM
		(SELECT * FROM
		(SELECT ROWNUM R, RS.* FROM 
		(SELECT * FROM RESTAURANTS ORDER BY STARVAL DESC)RS)
		WHERE R BETWEEN 1 AND 8)RSS
		LEFT JOIN RESTAURANTSFILE RF
		ON (RSS.RESTNUM = RF.RESTNUM)
		LEFT JOIN CATEGORYS CGS
		ON (RSS.RESTNUM = CGS.RESTNUM)
		LEFT JOIN RESTCATEGORYS RGS
		ON (CGS.CATEGORYNUM = RGS.CATEGORYNUM))TE)
		WHERE RNUM=1
 	</select>
 	
 	
 	<resultMap type="com.iu.s5.restaurant.RestaurantsDTO" id="getSearchResult">
  		<id column="restNum" property="restNum"/>
  		<result column="restName" property="restName"/>
  		<result column="restLocation" property="restLocation"/>
  		<result column="phone" property="phone"/>
  		<result column="restCategory" property="restCategory"/>
  		<result column="restTime" property="restTime"/>
  		<result column="holiDay" property="holiDay"/>
  		<result column="hits" property="hits"/>
  		<result column="likes" property="likes"/>
  		<result column="starVal" property="starVal"/>
  		<result column="lat" property="lat"/>
  		<result column="logt" property="logt"/>
  		<result column="openFlag" property="openFlag"/>
  		
  		<collection property="files" javaType="List" ofType="com.iu.s5.restaurant.RestaurantsFilesDTO">
  			<id column="restFileNum" property="restFileNum"/>
  			<result column="restNum" property="restNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
	
  	</resultMap> 
 	
 	<!-- searchList 부분 결과값 : 식당넘버(카테고리를 찾기위함), 식당명, 별점, 사진파일  -->
 	<select id="getSearchList" parameterType="Map" resultMap="getSearchResult">
 		SELECT RESTNUM, RESTNAME,STARVAL,FILENAME
		FROM
		(SELECT rownum R,RST.*
		FROM
		(SELECT *
		FROM
		(SELECT ROW_NUMBER() over(PARTITION BY TB.RESTNUM ORDER BY TB.RESTFILENUM) AS RNUM,TB.*
		FROM
		(SELECT * 
		FROM RESTAURANTS RS
		LEFT JOIN RESTAURANTSFILE RF
		ON(RS.RESTNUM = RF.RESTNUM)
		LEFT JOIN CATEGORYS CGS
		ON (RS.RESTNUM = CGS.RESTNUM)
		LEFT JOIN RESTCATEGORYS RGS
		ON (CGS.CATEGORYNUM = RGS.CATEGORYNUM)
		LEFT JOIN SEARCHS SES
		ON (RGS.CATEGORYNUM= SES.CATEGORYNUM)
		WHERE SES.SEARCH=#{search.search} OR RS.RESTNAME LIKE '%' || #{search.search} || '%')TB)
		WHERE RNUM=1) RST)
        WHERE R BETWEEN #{pager.startRow} AND #{pager.lastRow}
 		
 	</select>
 	
 	
 	<!-- 식당넘버를 입력받아 카테고리명들 출력 -->
 	<select id="getCategorys" parameterType="com.iu.s5.restaurant.RestaurantsDTO" resultType="com.iu.s5.restaurant.RestCategorysDTO">
 		
		SELECT distinct rgs.categoryname 
		FROM RESTAURANTS RS
		LEFT JOIN RESTAURANTSFILE RF
		ON(RS.RESTNUM = RF.RESTNUM)
		LEFT JOIN CATEGORYS CGS
		ON (RS.RESTNUM = CGS.RESTNUM)
		LEFT JOIN RESTCATEGORYS RGS
		ON (CGS.CATEGORYNUM = RGS.CATEGORYNUM)
		WHERE RS.RESTNUM = #{restNum}
		
 	</select>
 	
 	
 	<!-- searchList pager를 위한 Count -->
 	<select id="getSearchCount" parameterType="com.iu.s5.restaurant.SearchsDTO" resultType="Long">
 		SELECT COUNT(*) COUNT
		FROM
		(SELECT ROW_NUMBER() over(PARTITION BY TB.RESTNUM ORDER BY TB.RESTFILENUM) AS RNUM,TB.*
		FROM
		(SELECT * 
		FROM RESTAURANTS RS
		LEFT JOIN RESTAURANTSFILE RF
		ON(RS.RESTNUM = RF.RESTNUM)
		LEFT JOIN CATEGORYS CGS
		ON (RS.RESTNUM = CGS.RESTNUM)
		LEFT JOIN RESTCATEGORYS RGS
		ON (CGS.CATEGORYNUM = RGS.CATEGORYNUM)
		LEFT JOIN SEARCHS SES
		ON (RGS.CATEGORYNUM= SES.CATEGORYNUM)
		WHERE SES.SEARCH=#{search} OR RS.RESTNAME LIKE '%' || #{search} || '%')TB)
		WHERE RNUM=1
 	
 	</select>
 	
 	
 	<!-- 메인화면 커뮤니티 최신글 5개  -->
 	<select id="getCommunity" resultType="CommunityDTO">
 		SELECT * FROM
		(SELECT rownum R, C.*
		FROM
		(SELECT * FROM COMMUNITY ORDER BY NUM DESC)C)
		WHERE R BETWEEN 1 AND 5
 	</select>
 	
 	<!-- 커뮤니티 검색결과   -->
 	<select id="getSearchCommunity" parameterType="com.iu.s5.restaurant.SearchsDTO" resultType="CommunityDTO">
 			SELECT * FROM
			(SELECT rownum R, S.*
			FROM
			(SELECT * FROM COMMUNITY WHERE TITLE LIKE '%'|| #{search} ||'%') S)
			WHERE R BETWEEN 1 AND 10
 	</select>

 	
 	
 

 </mapper>
