<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
 <mapper namespace="com.iu.s5.review.ReviewDAO">
 
 	<select id="getRatingAvg" parameterType="ReviewDTO" resultType="Float">
 		SELECT AVG(RATING) FROM REVIEW WHERE RESTNUM = #{restNum}
 	</select>
 
 	<delete id="setDelete" parameterType="ReviewDTO">
 		DELETE FROM REVIEW WHERE REVIEWNUM = #{reviewNum}
 	</delete>
 
 	<insert id="setInsert" parameterType="ReviewDTO">
 		INSERT INTO REVIEW (REVIEWNUM, RESTNUM, ID, WRITER, CONTENTS, RATING, REGDATE)
		VALUES(REVIEW_SEQ.NEXTVAL, #{restNum}, #{id}, #{writer}, #{contents}, #{rating}, CURRENT_DATE)
 	</insert>
 
 </mapper>