<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
 <mapper namespace="com.iu.s5.review.ReviewDAO">
 
 	<insert id="setReviewFile" parameterType="ReviewFilesDTO">
 		INSERT INTO REVIEWFILES (REVIEWFILESNUM, REVIEWNUM, FILENAME, ORINAME)
 		VALUES (REVIEWFILES_SEQ.NEXTVAL, #{reviewNum}, #{fileName}, #{oriName})
 	</insert>
 	
 	<delete id="setReviewFileDelete" parameterType="ReviewFilesDTO">
 		DELETE REVIEWFILES WHERE REVIEWFILESNUM = #{reviewFilesNum}
 	</delete>
 	
 	<select id="getReviewCount" parameterType="ReviewDTO" resultType="Long">
 		SELECT COUNT(REVIEWNUM) FROM REVIEW WHERE RESTNUM = #{restNum}
 	</select>
 	
 	<select id="getReviewFile" parameterType="ReviewDTO" resultType="ReviewFilesDTO">
 		SELECT * FROM REVIEWFILES WHERE REVIEWNUM = #{reviewNum}
 	</select>
 
 	<resultMap type="ReviewDTO" id="getReviewListResult">
 		<id column="reviewNum" property="reviewNum" />
 		<result column="restNum" property="restNum" />
 		<result column="id" property="id" />
 		<result column="writer" property="writer" />
 		<result column="contents" property="contents" />
 		<result column="rating" property="rating" />
 		<result column="regDate" property="regDate" />
 		
 		<collection property="reviewFiles" javaType="List" ofType="ReviewFilesDTO">
 			<id column="reviewFilesNum" property="reviewFilesNum" />
 			<result column="reviewNum" property="reviewNum" />
 			<result column="fileName" property="fileName" />
 			<result column="oriName" property="oriName" />
 		</collection>
 	</resultMap>
 
 	<select id="getReviewList" parameterType="Map" resultMap="getReviewListResult">
 		SELECT * FROM
		(SELECT ROWNUM RN, RV.* FROM
			(SELECT * FROM REVIEW
			WHERE RESTNUM = #{reviews.restNum}
			<if test="filter == 'newest'">ORDER BY REVIEWNUM DESC</if>
			<if test="filter == 'oldest'">ORDER BY REVIEWNUM ASC</if>
			) RV) 
			RR LEFT OUTER JOIN 
		REVIEWFILES RF
		USING (REVIEWNUM)
		WHERE RN BETWEEN #{pager.startRow} AND #{pager.lastRow}
 	</select>
 
 	<select id="getRatingAvg" parameterType="ReviewDTO" resultType="Float">
 		SELECT AVG(RATING) FROM REVIEW WHERE RESTNUM = #{restNum}
 	</select>
 
 	<update id="setUpdate" parameterType="ReviewDTO">
 		UPDATE REVIEW
 		SET CONTENTS = #{contents}, RATING = #{rating}
 		WHERE REVIEWNUM = #{reviewNum}
 	</update>
 
 	<delete id="setDelete" parameterType="ReviewDTO">
 		DELETE FROM REVIEW WHERE REVIEWNUM = #{reviewNum}
 	</delete>
 
 	<insert id="setInsert" parameterType="ReviewDTO">
 		<selectKey order="BEFORE" resultType="Long" keyProperty="reviewNum">
 			SELECT REVIEW_SEQ.NEXTVAL FROM DUAL
 		</selectKey>
 		INSERT INTO REVIEW (REVIEWNUM, RESTNUM, ID, WRITER, CONTENTS, RATING, REGDATE)
		VALUES(#{reviewNum}, #{restNum}, #{id}, #{writer}, #{contents}, #{rating}, CURRENT_DATE)
 	</insert>
 
 </mapper>