<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

  
 <mapper namespace="com.iu.s5.select.SelectDAO">
 
	
	<!-- 요청 테이블에서 승인된 식당 호출 --> 
 	<select id="getSelectAccepted" resultMap="getSelectAcceptedResult">
 		select 
			R.restName, R.restPostcode, R.restAddress, R.restAddressDT, 
			R.restAddressRF, R.restPhone, R.restCategory, R.restTime, R.holiday,
			RF.fileName
		from 
		REQUEST R LEFT JOIN REQUESTFILES RF
		on R.num = RF.num
		WHERE R.requestAccept = 'Y';
 	</select>
 	<resultMap type="RestaurantsDTO" id="getSelectAcceptedResult">
 		
 	
 	</resultMap>
 	
 	
 	
 	
 	<select id="getReviewFiles" parameterType="RestaurantsDTO" resultType="ReviewFilesDTO">
 		select * from reviewfiles 
   			 where reviewnum in
	       		 (select reviewnum from review 
	       		 	where restNum = #{restNum}
	       		 )
 	
 	</select>
 	
 	<select id="getCategoryName" parameterType="RestaurantsDTO" resultType="String">
 		select categoryname from restcategorys where 
   			categorynum =
    			(select categoryNum from categorys where restNum = #{restNum})
 	</select>
 
 	
 	<resultMap type="RestaurantsDTO" id="getSelectRTResult">
 		<id column="restNum" property="restNum"/>
  		<result column="restName" property="restName"/>
  		<result column="restPostcode" property="restPostcode"/>
  		<result column="restAddress" property="restAddress"/>
  		<result column="restAddressDT" property="restAddressDT"/>
  		<result column="restAddressRF" property="restAddressRF"/>
  		<result column="restPhone" property="restPhone"/>
  		<result column="restTime" property="restTime"/>
  		<result column="holiDay" property="holiDay"/>
  		<result column="hits" property="hits"/>
  		<result column="likes" property="likes"/>
  		<result column="starVal" property="starVal"/>
  		<result column="openFlag" property="openFlag"/>
  		
  		<collection property="files" javaType="List" ofType="com.iu.s5.select.RestaurantsFilesDTO">
  			<id column="restFileNum" property="restFileNum"/>
  			<result column="restNum" property="restNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  		</collection>
  	
  		<collection property="categorysDTOs" javaType="List" ofType="com.iu.s5.select.RestCategorysDTO">
  			<id column="categoryNum" property="categoryNum"/>
  			<result column="categoryName" property="categoryName"/>
  		</collection>
  		
 	
 	</resultMap>
 	
 	<select id="getSelectRT" parameterType="RestaurantsDTO" resultMap="getSelectRTResult">
	 		SELECT * FROM
		    RESTAURANTS R
		    LEFT JOIN RESTAURANTSFILE RF
		        ON R.RESTNUM = RF.RESTNUM
		    LEFT JOIN CATEGORYS C
		        ON R.RESTNUM = C.RESTNUM
		    LEFT JOIN RESTCATEGORYS RC
       			ON C.CATEGORYNUM = RC.CATEGORYNUM
		    WHERE R.restNum = #{restNum}
 	</select>
 	
 
 
 </mapper>